.rainbow {
    animation: rainbow 600ms;
    animation-iteration-count: infinite;
}

@keyframes rainbow {
    0% {
        color: red;
    }
    15% {
        color: orange;
    }
    30% {
        color: yellow;
    }
    45% {
        color: crimson;
    }
    60% {
        color: cyan;
    }
    75% {
        color: blue;
    }
    90% {
        color: chocolate;
    }
    100% {
        color: darkgoldenrod;
    }
}